.carousel-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
}
.carousel > .carousel__item {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  animation: display 2s ease-out infinite linear;
}
.carousel__item img {
  width: 100%;
  height: 100%;
  padding: 20px;
  object-fit: contain;
}
.carousel .btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  z-index: 1;
}
.carousel .btn-left {
  left: 0;
}
.carousel .btn-right {
  right: 0;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.carousel {
  position: relative;
  width: 100vw;
  height: 800px;
  margin-top: 15vh;
}

.carousel > .carousel__item {
  position: absolute;
  top: 0;
  left: calc(10% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

.carousel__item:nth-child(2) {
  animation-delay: 2s;
}
.carousel__item:nth-child(3) {
  animation-delay: 4s;
}
.carousel__item:nth-child(4) {
  animation-delay: 6s;
}
.carousel__item:nth-child(5) {
  animation-delay: 8s;
}
